<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="/webjars/bootstrap/4.3.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </div>

</head>
<body>

    <div th:fragment="topnavbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" th:text="#{home.title}">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <span sec:authorize="isAuthenticated()">
                <span class="navbar-text"><span
                        sec:authentication="name"></span>&nbsp;|&nbsp;<a class="small" th:href="@{/logout}" th:text="#{navbar.topmenu.exit}">Exit</a>
                </span>
                </span>
            </div>
        </nav>
    </div>


    <div th:fragment="my1">
        <p>Here is template piece</p>
        <span sec:authentication="name"></span>
    </div>

</body>
</html>