<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <div th:fragment="header-css">
      <!-- this is header-css -->
      <link rel="stylesheet" type="text/css"
            th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}" />
      <link rel="stylesheet" th:href="@{/css/main.css}">
      <link rel="stylesheet" href="/webjars/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" />
      <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.css" />
      <!--Scripts here -->
      <script src="/webjars/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
      <script src="/webjars/popper.js/1.14.7/dist/popper.min.js" type="text/javascript"></script>
      <script type="text/javascript"
              src="/webjars/jQuery-Autocomplete/1.4.9/jquery.autocomplete.min.js"></script>

      <script type="text/javascript"
              src="/webjars/momentjs/2.24.0/moment.js"></script>
      <script type="text/javascript"
              src="/webjars/momentjs/2.24.0/locale/ru.js"></script>
      <!-- https://tempusdominus.github.io/bootstrap-4/Usage/ -->
      <script type="text/javascript"
              src="/webjars/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>

      <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
      <script language="JavaScript">
        function dateFormat() {
          return '[[#{date.format.js}]]';
        }

        $(document).ready(function () {
          $('.date_time').mask('00.00.00 00:00');
          $('.int_value').mask('00');
          $('.date_time_placeholder').mask("00.00.00 00:00", {placeholder: "__.__.__ __:__"});
          $('.amount').mask("# ##0.00");
          // $('.amount').mask('-###');

        })

      </script>

    </div>

  </head>
  <body>

    <div th:fragment="topnavbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" th:text="#{navbar.topmenu.company}">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/orders"> <span th:text="#{navbar.topmenu.orders}" />
                <!--<span class="sr-only">(current)</span>-->
              </a>
            </li>
          </ul>

          <span sec:authorize="isAuthenticated()">
                <span class="navbar-text"><span
                    sec:authentication="name"></span>&nbsp;|&nbsp;<a class="small" th:href="@{/logout}" th:text="#{navbar.topmenu.exit}">Exit</a>
                </span>
                </span>
        </div>
      </nav>
    </div>

    <div th:fragment="my1">
      <p>Here is template piece</p>
      <span sec:authentication="name"></span>
    </div>

  </body>
</html>