<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
  <head>
  </head>
  <body>

    <div th:fragment="mainModal">

      <!-- Modal dialogs -->
      <!-- Modal Driver Edit -->
      <div class="modal fade focusModal" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <span id="mainModalTitleText" />
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div id="mainModalBody"></div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="-1" th:text="#{button.cancel}">Cancel</button>
              <button type="button" class="btn btn-success" id="modalOKButton" th:text="#{button.ok}">OK</button>
            </div>
          </div>
        </div>
      </div>

      <!------- -->
      <div class="modal fade focusModal" id="secondModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h5 class="modal-title">
                <span id="secondModalTitleText" />
              </h5>

            </div>
            <div class="container"></div>
            <div class="modal-body">
              <div id="secondModalBody"></div>
            </div>
            <div class="modal-footer"><a href="#" data-dismiss="modal" class="btn">Close</a>
              <a href="#" class="btn btn-primary">Save changes</a>

            </div>
          </div>
        </div>
      </div>
      <!------- -->

    </div>

  </body>
</html>