<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
  <head>
  </head>
  <body>

    <div th:fragment="mainModal">
      <!-- Modal dialogs -->
      <!-- Modal Driver Edit -->

      <div th:each="modal : ${modals}">
        <div class="modal fade focusModal" th:id="${modal}" tabindex="-1" role="dialog" th:attr="aria-labelledby=|${modal}-Title|" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">
                  <span th:id="|${modal}-TitleText|" />
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div th:id="|${modal}-Body|"></div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="-1" th:id="|${modal}-Cancel|"
                        th:text="#{button.cancel}">
                  Cancel
                </button>
                <button type="button" class="btn btn-success modal-ok-button" th:id="|${modal}-OK|" th:text="#{button.ok}">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>