<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/header :: metaBlock" />
    <div th:replace="fragments/header :: header-css" />
    <title th:text="${orderForm.sR.order.orderNumber}">Edit Order</title>
  </head>
  <body>

    <div class="container-fluid">
      <div th:replace="fragments/header :: topnavbar" />
      <div class="container col-lg-8">

        <h3 th:text="${orderForm.sR.order.orderNumber}">Edit Order</h3>
        <form method="post" th:action="@{#}" th:object="${orderForm}">
          <!-- Date -->
          <div class="form-group row">
            <label for="orderDate" class="col-lg-2 col-form-label" th:text="#{editOrders.orderDate}">Order Date</label>
            <div class="col-lg-10">
              <div class="form-group">
                <input type="hidden" class="form-control" th:field="*{sR.id}" />
                <input type="hidden" class="form-control" th:field="*{sR.order.id}" />
                <div class="input-group date" id="orderDate" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#orderDate" th:field="*{sR.order.orderDate}"
                         th:errorclass="border-danger" />
                  <div class=" input-group-append" data-target="#orderDate" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(function () {
                $('#orderDate').datetimepicker({
                  locale: 'ru', format: 'L',
                  date: moment("[[${{orderForm.sR.order.orderDate}}]]", dateFormat())
                });
              });
            </script>
          </div>
          <!-- Expeditor -->
          <div class="form-group row">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.order.expeditor')}"
                 th:errors="*{order.expeditor}"></div>
            <label th:for="order.expeditor" class="col-lg-2 col-form-label" th:text="#{editOrders.expeditor}">Order Date</label>
            <div class="col-lg-7">
              <input type="text" class="form-control suggester" th:id="expeditorName" data-id="expeditorCode" data-href="/suggest/expeditors"
                     th:field="*{sR.order.expeditor.name}" />
            </div>
            <div class="col-lg-3">
              <input type="text" class="form-control-plaintext border rounded pl-2" th:id="expeditorCode" th:field="*{sR.order.expeditor.code}"
                     readonly
                     tabindex="-1" />
            </div>
          </div>
          <!-- Load -->
          <div class="form-group row">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.load')}"
                 th:errors="*{sR.load}"></div>
            <label th:for="srLoad" class="col-lg-2 col-form-label" th:text="#{editOrders.load}">Load</label>
            <div class="col-lg-10">
              <input type="text" class="form-control suggester" data-id="srLoadId" data-href="/suggest/party/LOAD" th:id="srLoad"
                     th:field="*{sR.load.name}" />
              <input type="hidden" class="form-control" th:id="srLoadId" th:field="*{sR.load.id}" />
            </div>
          </div>
          <!-- Unload -->
          <div class="form-group row">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.unload')}"
                 th:errors="*{sR.unload}"></div>
            <label th:for="srUnload" class="col-lg-2 col-form-label" th:text="#{editOrders.unload}">Unload</label>
            <div class="col-lg-10">
              <input type="text" class="form-control suggester" data-id="srUnloadId" data-href="/suggest/party/UNLOAD" th:id="srUnload"
                     th:field="*{sR.unload.name}" />
              <input type="hidden" class="form-control" th:id="srUnloadId" th:field="*{sR.unload.id}" />
            </div>
          </div>
          <!-- Unload City -->
          <div class="form-group row">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.unloadCity')}"
                 th:errors="*{sR.unloadCity}"></div>
            <label th:for="srUnloadCity" class="col-lg-2 col-form-label" th:text="#{editOrders.unloadCity}">Unload City</label>
            <div class="col-lg-10">
              <input type="text" class="form-control suggester" data-id="srUnloadCityId" data-href="/suggest/party/CITY" th:id="srUnloadCity"
                     th:field="*{sR.unloadCity.name}" />
              <input type="hidden" class="form-control" th:id="srUnloadCityId" th:field="*{sR.unloadCity.id}" />
            </div>
          </div>

          <!-- Destination -->
          <div class="form-group row">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.destination')}"
                 th:errors="*{sR.destination}"></div>
            <label th:for="srDestination" class="col-lg-2 col-form-label" th:text="#{editOrders.destination}">Destination</label>
            <div class="col-lg-10">
              <input type="text" class="form-control suggester" data-id="srDestinationId" data-href="/suggest/party/DESTINATION"
                     th:id="srDestination"
                     th:field="*{sR.destination.name}" />
              <input type="hidden" class="form-control" th:id="srDestinationId" th:field="*{sR.destination.id}" />
            </div>
          </div>
          <!-- Appointment Load Date -->
          <div class="form-group row">
            <label for="appointmentLoadDate" class="col-lg-2 col-form-label" th:text="#{editOrders.appointmentLoadDate}">Appointment Load Date</label>
            <div class="col-lg-10">
              <div class="form-group">
                <div class="input-group date" id="appointmentLoadDate" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#appointmentLoadDate" th:field="*{sR.appointmentLoadDate}"
                         th:errorclass="border-danger" />
                  <div class=" input-group-append" data-target="#appointmentLoadDate" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(function () {
                $('#appointmentLoadDate').datetimepicker({
                  locale: 'ru', format: 'L',
                  date: moment("[[${{orderForm.sR.appointmentLoadDate}}]]", dateFormat())
                });
              });
            </script>
          </div>
          <!-- calculatedCost -->
          <div class="form-group row">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.calculatedCost')}"
                 th:errors="*{sR.calculatedCost}"></div>
            <label th:for="calculatedCost" class="col-lg-2 col-form-label" th:text="#{editOrders.calculatedCost}">Calculated Cost</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" th:id="calculatedCost" th:field="*{sR.calculatedCost}" />
            </div>
          </div>
          <!-- Carrier Info -->
          <div class="bg-light  pt-3 pl-2 pr-2 pb-1">
            <input type="hidden" class="form-control" th:field="*{sR.carrierInfo.id}" />
            <!-- Driver -->
            <div class="form-group row">
              <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.carrierInfo.driverInfo')}"
                   th:errors="*{sR.carrierInfo.driverInfo}"></div>
              <label th:for="driverInfo" class="col-lg-2 col-form-label" th:text="#{editOrders.driver}">Driver</label>
              <div class="input-group mb-3 col-lg-10">
                <input type="text" class="form-control suggester" data-href="/suggest/driverInfo" data-id="driverInfoId" th:id="driverInfoStr"
                       th:field="*{driverInfoStr}" />
                <input type="hidden" class="form-control" th:id="driverInfoId" th:field="*{sR.carrierInfo.driverInfo.id}" />
                <div class="input-group-append">
                  <div class="btn btn-outline-secondary modalFormTrigger" type="button" data-href="/party/newDriverInfo"
                       data-post-href="/party/newDriverInfo" data-th-attr="data-modal-title=#{editDriverInfo.title}, data-modal-name=${modals[0]}"
                       data-modal-src-id="driverInfoId" data-modal-src-desc="driverInfoStr"
                       data-modal-focus-field="surname" data-modal-form-name="driverInfoForm">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- Transport-->
            <div class="form-group row">
              <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.carrierInfo.transport')}"
                   th:errors="*{sR.carrierInfo.transport}"></div>
              <label th:for="transport" class="col-lg-2 col-form-label" th:text="#{editOrders.transport}">Transport</label>
              <div class="input-group mb-3 col-lg-10">
                <input type="text" class="form-control" th:id="transportStr" th:field="*{transportStr}" />
                <input type="hidden" class="form-control" th:id="transportId" th:field="*{sR.carrierInfo.transport.id}" />
                <div class="input-group-append">
                  <div class="btn btn-outline-secondary modalFormTrigger" type="button" data-href="/party/newTransport"
                       data-post-href="/party/newTransport" data-th-attr="data-modal-title=#{editTransport.title}, data-modal-name=${modals[0]}"
                       data-modal-src-id="transportId" data-modal-src-desc="transportStr"
                       data-modal-focus-field="truckModel" data-modal-form-name="transportForm">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </div>
              <script>
                $(document).ready(function () {
                  $('#transportStr').autocomplete({
                    serviceUrl: '/suggest/transport',
                    onSelect: function (suggestion) {
                      $('#transportId').val(suggestion.data);
                    },
                    onSearchStart: function (params) {
                      $('#transportId').val('');
                    }
                  });
                });
              </script>
            </div>
            <!-- Cost  -->
            <div class="form-group row">
              <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sR.carrierInfo.cost')}"
                   th:errors="*{sR.carrierInfo.cost}"></div>
              <label th:for="cost" class="col-lg-2 col-form-label" th:text="#{editOrders.cost}">Cost</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" th:id="cost" th:field="*{sR.carrierInfo.cost}" />
              </div>
            </div>
          </div> <!-- end Carrier Infor -->
          <!-- Arrival Date -->
          <div class="form-group row mt-3">
            <label for="arrivalDate" class="col-lg-2 col-form-label" th:text="#{editOrders.arrivalDate}">arrival Date</label>
            <div class="col-lg-10">
              <div class="form-group">
                <div class="input-group date" id="arrivalDate" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#arrivalDate" th:field="*{sR.arrivalDate}"
                         th:errorclass="border-danger" />
                  <div class=" input-group-append" data-target="#arrivalDate" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(function () {
                $('#arrivalDate').datetimepicker({
                  locale: 'ru', format: 'L',
                  date: moment("[[${{orderForm.sR.arrivalDate}}]]", dateFormat())
                });
              });
            </script>
          </div>
          <!-- Load Date -->
          <div class="form-group row ">
            <label for="loadDate" class="col-lg-2 col-form-label" th:text="#{editOrders.loadDate}">load Date</label>
            <div class="col-lg-10">
              <div class="form-group">
                <div class="input-group date" id="loadDate" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#loadDate" th:field="*{sR.loadDate}"
                         th:errorclass="border-danger" />
                  <div class=" input-group-append" data-target="#loadDate" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(function () {
                $('#loadDate').datetimepicker({
                  locale: 'ru', format: 'L',
                  date: moment("[[${{orderForm.sR.loadDate}}]]", dateFormat())
                });
              });
            </script>
          </div>
          <!-- Comment1 -->
          <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="comment1" th:text="#{editOrders.comment1}">Example textarea</label>
            <div class="col-lg-10">
              <div class="form-group">
                <textarea class="form-control" id="comment1" rows="3" th:field="*{sR.comment1}"> </textarea>
              </div>
            </div>
          </div>
          <!-- Comment2 -->
          <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="comment2" th:text="#{editOrders.comment2}">Example textarea</label>
            <div class="col-lg-10">
              <div class="form-group">
                <textarea class="form-control" id="comment2" rows="3" th:field="*{sR.comment2}"> </textarea>
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class=" form-group row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-10">
              <button type="submit" th:class="#{button.ok.class}" th:text="#{button.ok}">OK</button>
            </div>
          </div>
        </form>
      </div> <!-- end of container -->
      <p>&nbsp;</p>
    </div> <!-- main container -->

    <div th:replace="fragments/modalForm :: mainModal" />

    <script type="text/javascript" src="/js/modalForms.js"></script>
    <script type="text/javascript" src="/js/suggester.js"></script>
    <div th:replace="fragments/footer :: footer" />
  </body>
</html>