<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/header :: header-css" />
    <title th:text="#{orders.title}">Orders</title>
  </head>
  <body>

    <div class="container">
      <div th:replace="fragments/header :: topnavbar" />
      <div class="container">

        <h3 th:text="#{orders.title}">Orders Page</h3>

        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" th:text="#{orders.table.status}">Status</th>
              <th scope="col" th:text="#{orders.table.number}">Number</th>
              <th scope="col" th:text="#{orders.table.cost}">Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each=" sr : ${shippingReleases}">

              <td scope="row"><span th:text="${sr.status}"></span></td>
              <td scope="row"><a th:href="@{'/orders/'+ ${sr.id}}"> <span th:text="${sr.order.orderNumber}"></span></a></td>
              <td scope="row"><span th:text="${sr.calculatedCost}"></span></td>

            </tr>
          </tbody>
        </table>

      </div> <!-- end of container -->
    </div> <!-- main container -->
    <div th:replace="fragments/footer :: footer" />
  </body>
</html>